.Login__Background {
    background-color: #edf2f7;
    height: 100vh;
    width: 100vw;
}

.AAAA {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;

    @media screen and (max-width: 640px) {
        padding: 0;
    }
}

// 로그인 창(로그인 form + 사진)
.BBBB {
    width: 60%;
    height: 500px;
    background-color: white;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

    @media screen and (max-width: 1024px) {
        width: 75%;
    }

    @media screen and (max-width: 640px) {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }
}

// 로그인 form
.CCCC {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.Logo__Image {
    width: 300px;
    margin: 0 auto;
}

.DDDD {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    justify-content: center;
    margin-bottom: 2rem;
}

.EEEE {
    font-size: 2.25rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: 400;
}

.FFFF {
    width: 100%;
    margin-top: 1rem;
}

.GGGG {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1024px) {
        width: 85%;
    }
}

.HHHH {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .Login__Input {
        flex-grow: 1;
        height: 2rem;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        border-width: 1px;
        border-radius: 0.25rem;
        border-color: rgba(156, 163, 175, 1);
    }

    .Login__Input:focus {
        border-color: #68d391;
    }
}

.IIII {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .Login__Button {
        color: white;
        background-color: #68d391;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border: none;
        border-radius: 0.25rem;
    }

    .Login__Button:hover {
        background-color: #2f855a;
    }
}

.Image__Box {
    display: block;
    width: 50%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    @media screen and (max-width: 768px) {
        display: none;
    }

    .Login__Image {
        width: 100%;
        height: 100%;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }
}
